/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */


/* Color Variables */
// $cherry: #fa0636;
$peach: #FFE7DD;
$cherry: blue;
$blush: #f7dfe8;
// $peach: blue;
$black: grayscale(100%) contrast(2000%);
$forest: #428557;
$lavendar: #d7bfe1;
$yellow: #faecae;
$blue: #0068ff;

/* Dimension Variables */
$full: 100%;

/* Font Variables */
$gopher: Gopher Display Regular, gopher, sans-serif;

p, h1, button, label, input[type="text"],
input[type="email"], textarea[type="text"], input::placeholder {
  font-family: "Helvetica", "Arial", sans-serif;
}

.fonts-loaded p, .fonts-loaded h1, .fonts-loaded button, .fonts-loaded label, .fonts-loaded input[type="text"],
.fonts-loaded input[type="email"], .fonts-loaded textarea[type="text"], .fonts-loaded input::placeholder {
  font-family: $gopher;
}

/* Template */
$standard-border: 0.08em solid $cherry;

/* Black Overlay */
$b-border: 0.08em solid $black;
$b-text: $black;
$b-bg: $black;

html {
  color: $cherry;
  line-height: 1.4;
  height: $full;
  padding: 2%;
  font-size: 1em;
  scroll-behavior: smooth;
}

/* ****************  CURSOR STYLES  **************** */
#cursor {
  z-index: 100;
}

#cursor:before,
#cursor:after {
  display: block;
  content: "";
  border-radius: 20%;
  background-color: black;
  position: absolute;
  pointer-events: none;
  transition: all 400ms;
}
#cursor:before {
  width: 50px;
  height: 3px;
  transform: rotate(40deg);
  top: -19px;
  left: -25px;
}
#cursor:after {
  width: 3px;
  height: 50px;
  transform: rotate(50deg);
  top: -12px;
  left: -2px;
}
#cursor.right:before {
  transform: rotate(-40deg);
}
#cursor.right:after {
  transform: rotate(-50deg);
}
#cursor.in:before {
  transform: rotate(0);
  top: -3px;
  left: -25px;
}
#cursor.in:after {
  transform: rotate(0);
  top: -27px;
  left: -2px;
}
#cursor.exit:before {
  transform: rotate(44deg);
}
#cursor.exit:after {
  transform: rotate(44deg);
}


/* ****************  BODY  **************** */

body {
  background-color: $peach;
  // background-image: url('../img/background.jpg');
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-position: right;
  // background-size: 75% 100%;
  height: $full;
  // padding: 0.2em;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
}

/* Focus styles */
.focused {
  outline: none;
  border-bottom: 2em solid $cherry;
  padding: 0.2em;
}


/* ****************  HEADER  **************** */

.section {
  height: auto;
}

/* Top Nav (skip to main) */
#skip {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
  background-color: transparent;
  cursor: none;
}

#skip:focus {
  position:static;
  background-color: transparent;
  outline: none;
  width:auto;
  height:auto;
  color: $cherry;
  font : {
    family: $gopher;
    size: 2em;
  }
}


/* ****************  NAV  **************** */

.nav-link {
  background-color: transparent;
  position: absolute;
  margin-left: 0.5em;
  margin-bottom: 0.3em;
  padding : {
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
  }
  left: 0;
  bottom: 0;
  color: $cherry;
  font : {
    family: $gopher;
    size: 2em;
  }
}

.nav-link2 {
  background-color: transparent;
  position: relative;
  margin-bottom: 0.3em;
  padding : {
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
  }
  left: 0;
  bottom: 0;
  color: $cherry;
  font : {
    family: $gopher;
    size: 2em;
  }
}

.contact-work {
  background-color: transparent;
  position: absolute;
  z-index: 5;
  margin-left: 0.5em;
  margin-bottom: 0.3em;
  padding : {
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
  }
  left: 0;
  top: 0.4em;
  color: $cherry;
  font : {
    family: $gopher;
    size: 2em;
  }
}

.nav-link:focus, .nav-link:hover {
  outline: none;
  border-bottom: 4px solid blue;
}

.nav-link:hover, .work:hover, .contactbtn:hover, .btn:hover, .logo:hover, .form-input:hover, label:hover, form:hover {
  cursor: none;
}

.work {
  background-color: transparent;
  margin-left: 0.3em;
  border: transparent;
  text-align: center;
  position: absolute;
  top: 0.5em;
  text-decoration: none;
  color: $cherry;
  line-height: 1;
  font : {
    family: $gopher;
    style: normal;
    size: 2em;
  }
}

.about {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  text-decoration: none;
  color: $cherry;
  line-height: 1;
  font : {
    family: $gopher;
    style: normal;
    size: 2em;
  }
}

.home {
  position: absolute;
  text-decoration: none;
  color: $cherry;
  line-height: 1;
  right: 0.5em;
  bottom: 0.5em;
  font : {
    family: $gopher;
    style: normal;
    size: 2em;
  }
}

.logo {
  position: fixed;
  z-index: 5;
  right: 1em;
  width: 20%;
  top: 1em;
}

.logo, .logo:focus, .logo-link {
  outline: none !important;
}

/* ****************  MAIN  **************** */
.start {
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
  position: relative;
}

.left {
  width: 70%;
  margin : {
    // left: 10em;
    top: 2.5em;
  }
}

.intro {
  color: $cherry;
  line-height: 1;
  padding-top: 2em;
  font : {
    family: $gopher;
    style: normal;
    size: 6em;
  }
}

.me-box {
  //border: 1px solid black;
  width: 20%;
  height: auto;
  margin-left: 11em;

}

.me {
  width: 90%;
  height: auto;
  top: 2em;
}

.concepts {
  padding: {
    top: 9em;
    bottom: 8em;
  }
}

.greenhouseimg {
  display: none;
  position: absolute;
  width: 16%;
  padding-left: 4em;
  margin-left: 9em;
  opacity: 30%;
  cursor: none;
  z-index: -1;
}

.darlingimg {
  display: none;
  position: absolute;
  width: 20%;
  padding-left: 4em;
  margin-left: 60em;
  margin-top: 30em;
  opacity: 30%;
  cursor: none;
  z-index: -1;
}

.bodyweightimg {
  display: none;
  position: absolute;
  width: 20%;
  padding-left: 4em;
  margin-left: 20em;
  margin-top: 20em;
  opacity: 30%;
  cursor: none;
  z-index: -1;
}

.greenhouse:focus, .darlingmag:focus, .bodyweight:focus {
  outline: none;
  text-decoration: none;
}

.greenhouse:hover, .greenhouse:focus,
.darlingmag:hover, .darlingmag:focus,
.bodyweight:hover, .bodyweight:focus {
  -webkit-text-fill-color: $peach; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $cherry;
  text-decoration: none;
  cursor: none;
}

h2 {
  color: $cherry;
  padding : {
    left: 4em;
    top: 2em;
  }
  top: 3.5em;
  line-height: 1.4;
  font : {
    family: $gopher;
    style: normal;
    size: 5em;
  }
}

.about-blurb {
  padding-left: 0;
  line-height: 1;
  font-size: 4em;
}

.contrast-img {
  width:10%;
  background-color: transparent;
  border-radius: 0px;
  z-index: 10;
  position: fixed;
  -moz-outline-radius: 0px;
  cursor: none;
  right: 2%;
  bottom: 3%;
  display: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  -moz-outline-radius: 0px;
}

a:hover {
  color: $cherry;
}

/* ****************  CONTACT FORM  **************** */

.sidepanel {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 30; /* Stay on top */
  top: 0;
  left:-10px;
  visibility: hidden;
  background-color: $yellow;
  border-right: $standard-border;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* Position and style the close button (top right corner) */

.close-button {
  $size: 50px;
  height: $size;
  width: $size;
  position: relative;
  box-sizing: border-box;
  line-height: $size;
  display: inline-block;
  margin-top: 5%;
  background-color: transparent;

  &:before, &:after {
    $width: 50px;
    $height: 2px;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    display: block;
    height: $height;
    width: $width;
    background-color: $cherry;
    transition: all 0.25s ease-out;
  }

  &:after {
    transform: rotate(-135deg);
  }

  &:hover {
    &:before, &:after {
      transform: rotate(0deg);
    }
  }
}


.close-button {
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 3em;
  margin-left: 6em;
  text-decoration: none;
  color: $cherry;
  cursor: none;
}

form {
  padding-top: 10%;

  // <label> -
  label {
    color: $cherry;
    width: $full;
    padding-top: 2%;
    letter-spacing: 0.1em;
    font: {
      family: $gopher;
      size: 1.1rem;
      weight: bolder;
    }
  }

  // <input> -
  .form-input {
    background-color: transparent;
    padding: 1em;
    min-height: 2em;
    width: $full;
    border-radius: 0px;
    border: $standard-border;
  }

  input[type="text"],
  input[type="email"], textarea[type="text"] {
    background-color: transparent !important;
    font: {
      size: 1.5rem !important;
      family: $gopher !important;
    }
    color: $cherry !important;
    padding: {
      left: 1.7rem;
    }
    // When input is...
    //   1. NOT empty
    //   2. NOT in focus
    //   3. NOT valid
    &:invalid:not(:focus):not(:placeholder-shown) {
      // Show a light reminder
      background-color: transparent !important;
      color: $cherry !important;
    }
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill
  {
    &, &:hover, &:active {
      border: $standard-border;
      -webkit-text-fill-color: $cherry;
      transition: background-color 5000s;
      // -webkit-box-shadow: 0 0 0px 1000px $blush inset !important;
      outline: none;
    }
  }

  input, textarea {
    outline: none;
    box-shadow:none !important;
  }

  input:focus, textarea:focus {
    border: 0.17em solid $cherry !important;
    transition: background-color 5000s;
    outline-style: none !important;
    // box-shadow: none !important;
  }

  textarea::-webkit-scrollbar {
    width: 0em;
  }

  textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  input::placeholder {
    font: {
      family: $gopher;
      size: 2rem;
    }
    color: $cherry !important;
    background-color: transparent !important;
  }

  ::-webkit-resizer {
    color: $cherry;
  }
  // end of </input>

  // <span class="err">
  .err {
    padding: 10px 30px 20px 0;
    color: $cherry;
    max-height: 0;
    transition: 0.28s;
    display: none;
    font : {
      style: italic;
      size: 1.2em;
    }
  }

  .err-p {
    visibility: hidden;
  }

  // <button class="btn">
  .btn {
    padding: 1em 0.9em;
    display: block;
    margin : {
      top: 0.5rem;
    }
    width: 100%;
    font : {
      size: 1.3rem;
      family: $gopher;
    }
    letter-spacing: 0.1em;
    color: $yellow;
    border-radius: 0px;
    border-color: black;
    background-color: $cherry;
  }

  .btn:focus, .btn:hover {
    outline-style: none !important;
    box-shadow: none !important;
    border: $standard-border !important;
    background-color: $blush;
    color: $cherry;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  // <input class="gotcha">
  .gotcha {
    opacity: 0;
    position: absolute;
  }

  // <p class="success">
  .success-p {
    font-size: 1.5em;
    color: $cherry;
    visibility: hidden;
  }
}

input, textarea, form {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: $full;
}


/************ Greenhouse App Case Study ************/
.star {
  transform: rotate(10deg);
  width: 40%;
  padding-right: 5em;
  margin-top: -6em;
  position: fixed;
}

.title {
  // padding-left: 6.8em;
  color: $cherry;
  line-height: 1;
  font : {
    family: $gopher;
    style: normal;
    size: 7em;
  }
}
 h3 {
   color: $cherry;
   padding-left: 0.6em;
   line-height: 1.5;
   padding : {
     bottom: 2em;
   }
   font : {
     family: $gopher;
     style: normal;
     size: 1.5em;
   }
 }

p {
  color: $cherry;
  padding-left: 12em;
  line-height: 1.3;
  padding-bottom: 1em;
  font : {
    family: $gopher;
    style: normal;
    size: 1.6em;
  }
}

.blog-link {
  display: none;
}

figcaption {
  color: $cherry;
  padding : {
    bottom: 2em;
    left: 1em;
    top: 1em;
  }
  font : {
    family: $gopher;
    style: normal;
    size: 1em;
  }
}

.arrow {
  padding : {
    top: 4em;
    bottom: 10em;
  }
  margin-left: 23em;
  cursor: none;
}

.arrow2 {
  transform: rotate(180deg);
  cursor: none;
}

/************ Blog ************/
ol {
  padding-top: 3em;
}

.li-blog {
  color: $cherry;
  line-height: 1.3em;
  padding-left: 8.3em;
  font : {
    family: $gopher;
    style: normal;
    size: 2em;
  }
}

hr {
  border-top: 0.2em dashed $cherry;
  width: 105%;
  margin-left: -2em;
}

.youtube {
  margin-left: 19em;
}


/* *********************** For Phones *********************** */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }

  html {
    padding: 0;
    margin: 0;
    // border: 1px solid black;
  }

  body {
    width: 100vw;
    height: 100vh;
  }

  #cursor {
    display: none;
  }

  .nav-link {
    // border: 1px solid black;
    font-size: 1.3em;
    margin-top: 0;
    margin-left: -0.7em;
  }
  .logo {
    // border: 1px solid black;
    width: 40%;
    top: 12%;
    transform: rotate(90deg);
    right: -8%;
  }
  .close-button {
    position: absolute;
    top: 0.5em;
    right: 2em;
    font-size: 3em;
    margin-left: -3em;
    text-decoration: none;
    color: $cherry;
    cursor: none;
  }

  form {
    padding-right: 8%;
    margin-top: -20%;

    // <label> -
    label {
      font: {
        size: 1.2rem;
      }
    }

    // <input> -
    .form-input {
      padding: 1em;
      min-height: 2em;
    }

    input[type="text"],
    input[type="email"], textarea[type="text"] {
      font: {
        size: 1.2rem !important;
      }
      padding: {
        left: 1rem;
      }
    }

    // <button class="btn">
    .btn {
      padding: 0.5em 0.9em;
      margin : {
        top: 0.5rem;
      }
      width: 100%;
      font : {
        size: 1.5rem;
      }
    }

    // <p class="success-p">
    .success-p {
      font-size: 1.5em;
    }
  }

  .formbox {
    margin : {
      left: 4%;
      right: 4%;
    }
    padding : {
      left: 10%;
      right: 10%;
      top: 30%;
    }
  }

  .start {
    // border: 1px solid black;
    height: auto;
    width: auto;
    padding-top: 20%;
  }

  .left {
    // border: 1px solid black;
    padding : {
      left: 0;
      right: 0;
    }
    margin: {
      left: 1%;
      right: 0;
    }
    width: 80%;
  }

  .intro {
    // border: 1px solid black;
    color: $cherry;
    top: 25%;
    padding-left: 0;
    line-height: 1.3;
    font : {
      family: $gopher;
      size: 1.3em;
    }
  }

  .me {
    // border: 1px solid black;
    margin-bottom: 15.75em;
    padding: 0;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 80vw;
    height: auto;
  }

  .greenhouseimg, .darlingimg {
    display: none;
  }

  .contrast-img {
    // border: 1px solid black;
    width: 15%;
    background-color: transparent;
    border-radius: 0px;
    outline: black;
    position: fixed;
    z-index: 5;
    -moz-outline-radius: 0px;
    padding: 0;
    cursor: none;
    left: 19.5em;
    display: none;
    // bottom: 6%;
  }

  .concepts {
    padding : {
      left: 0;
      right: 0;
    }
    display: none;
  }

  h2 {
    display: none;
  }

  .work {
    padding-left: 0.5em;
    display: block;
    border: transparent;
    text-align: center;
    position: static;
    text-decoration: none;
    color: $cherry;
    line-height: 1;
    font : {
      family: $gopher;
      style: normal;
      size: 1.3em;
    }
  }

  .blog-link {
    margin-left: -15.5em;
    display: none;
  }


  /* ****** Concept Pages ********/
  .casestudy {
    margin-left: 0em;
    padding-right: 3em;
  }

  .star {
    transform: rotate(-10deg);
    padding-right: 0em;
    display: none;
  }

  .title {
    color: $cherry;
    padding-top: 2em;
    padding-bottom: 0em;
    margin-left: 0em;
    line-height: 1;
    font : {
      family: $gopher;
      style: normal;
      size: 3em;
    }
  }

  h3 {
    color: $cherry;
    margin-left: 0em;
    line-height: 1.5;
    padding : {
      bottom: 0.5em;
    }
    font : {
      family: $gopher;
      style: normal;
      weight: 700;
      size: 0.8em;
    }
  }

  p {
    color: $cherry;
    line-height: 1.4;
    padding-bottom: 0em;
    font : {
      family: $gopher;
      style: normal;
      size: 0.8em;
    }
  }

  .userflow {
    padding : {
      top: 4em;
    }
  }

  figcaption {
    color: $cherry;
    padding : {
      bottom: 2em;
      left: 2em;
      right: 1em;
      top: 1em;
    }
    font : {
      family: $gopher;
      style: normal;
      size: 0.6em;
    }
  }

  .solution {
    padding-top: 4em;
  }

  .stage {
    padding-top: 4em;
  }

  .arrow {
    padding : {
      top: 1em;
      bottom: 2em;
      left: 30%;
      right: 30%;
    }
    margin-left: 0;
    cursor: none;
  }

  .arrow2 {
    transform: rotate(180deg);
    cursor: none;

  }

  .blog-link {
    display: none;
  }
}





/* ********************* For Tablets *********************** */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
  [class*="col-"] {
    width: 100%;
  }

  #cursor {
    display: none;
  }
  .nav-link {
    font-size: 1.8em;
    top: 0.5em;
  }
  .logo {
    border: 1px solid black;
    width: 40%;
    left: 0;
    padding: 0;
    margin-left: 20em;
  }
  .close-button {
    position: absolute;
    top: 0.5em;
    right: 2em;
    font-size: 3em;
    margin-left: -3em;
    text-decoration: none;
    color: $cherry;
    cursor: none;
  }

  form {
    padding-right: 8%;
    margin-top: -20%;

    // <label> -
    label {
      font: {
        size: 1.2rem;
      }
    }

    // <input> -
    .form-input {
      padding: 1em;
      min-height: 2em;
    }

    input[type="text"],
    input[type="email"], textarea[type="text"] {
      font: {
        size: 1.2rem !important;
      }
      padding: {
        left: 1rem;
      }
    }

    // <button class="btn">
    .btn {
      padding: 0.5em 0.9em;
      margin : {
        top: 0.5rem;
      }
      width: 100%;
      font : {
        size: 1.5rem;
      }
    }

    // <p class="success-p">
    .success-p {
      font-size: 1.5em;
    }
  }

  .formbox {
    margin : {
      left: 4%;
      right: 4%;
    }
    padding : {
      left: 10%;
      right: 10%;
      top: 30%;
    }
  }

  .left {
    width: 90%;
    padding-top: 10em;
    margin-left: 0;
  }

  .intro {
    color: $cherry;
    line-height: 1.1;
    font : {
      family: $gopher;
      style: normal;
      size: 3.5em;
    }
  }

  .me {
    padding: 0;
    margin: 0;
    left: 2em;
  }

  .greenhouseimg, .darlingimg {
    display: none;
  }

  .contrast-img {
    // border: 1px solid black;
    width: 15%;
    background-color: transparent;
    border-radius: 0px;
    outline: black;
    position: fixed;
    z-index: 5;
    -moz-outline-radius: 0px;
    padding: 0;
    margin: 0;
    cursor: none;
    left: 56em;
    display: none;
    // bottom: 6%;
  }

  .concepts {
    padding : {
      left: 0;
      right: 0;
    }
    display: none;
  }

  h2 {
    display: none;
  }

  .work {
    display: block;
    color: $cherry;
    margin-left: 1%;
    line-height: 1.3;
    font : {
      family: $gopher;
      size: 2em;
    }
  }

  /* ****** Concept Pages ********/
  .casestudy {
    border: 1px solid black;
    margin-left: 9em;
    // padding-right: 3em;
    width: 60%;
    padding : {
      top: 15em;
      left: 0;
      right: 0;
      bottom: 0;
    }
    left: 0;
    margin : {
      top: 15em;
      bottom: 0;
    }
  }

  .star {
    transform: rotate(-10deg);
    padding : {
      top: 0;
      left: 0;
    }
    left: 0;
    margin : {
      top: -25em;
      left: 0;
    }
  }

  .title {
    color: $cherry;
    padding-left: 0;
    left: 0;
    padding-top: -1em;
    line-height: 1;
    font : {
      family: $gopher;
      style: normal;
      size: 4em;
    }
  }

  p {
    border: 1px solid black;
    margin-right: -9.5em;
    color: $cherry;
    line-height: 1.3;
    padding-bottom: 1.3em;
    font : {
      family: $gopher;
      style: normal;
      size: 1.7em;
    }
  }

  .conceptfig {
    border: 1px solid black;
    width: 1000px;
    margin : {
      left: 0;
    }
    padding: 0;
  }

  figure {
    border: 1px solid black;
    width: 100%;
  }

  figcaption {
    // border: 1px solid black;
    // margin-right: 42%;
    color: $cherry;
    padding : {
      bottom: 2em;
      left: 1em;
      top: 1em;
    }
    font : {
      family: $gopher;
      style: normal;
      size: 1.3em;
    }
  }

  .arrow {
    padding : {
      top: 4em;
      bottom: 10em;
    }
    margin-left: 19em;
    cursor: none;
  }

  .arrow2 {
    transform: rotate(180deg);
    cursor: none;
  }
}