/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
/* Color Variables */
/* Dimension Variables */
/* Font Variables */
/* Template */
/* Black Overlay */
html {
  color: #fa0636;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  padding: 2%;
}

/* Body */
body {
  background-color: #fff6f6;
  height: 100%;
  padding: 4em;
}

/* ****************  MAIN  **************** */
/* Focus styles */
a:focus, button:focus, input:focus, textarea:focus, [role=link]:focus,
[rolebutton]:focus, [role=tab]:focus {
  outline: 0.1rem solid #fa0636;
}

.nopadding {
  padding: 0;
  margin: 0;
}

/* Text Styles */
p {
  color: #fa0636;
  font-family: "Gopher", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

/* Header */
/* Top Nav (skip to main) */
#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip a:focus {
  position: static;
  width: auto;
  height: auto;
  color: #fa0636;
  font-family: "Gopher", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  padding: 0.4em;
}

/* Nav */
.nav-link {
  background-color: transparent;
  color: #fa0636;
  text-align: center;
  font-family: "Gopher", sans-serif;
  font-size: 1.2em;
  padding: 0.4em;
}

.contactbtn {
  transition: 8s transform ease-in-out;
  border: transparent;
  margin-left: 0.3em;
}

.aboutbtn:hover {
  filter: none;
}

/* Contact Form */
form {
  margin-top: 4%;
}

label {
  color: #fa0636;
  width: 100%;
  font-family: "Gopher", sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.form-input {
  background: #fff6f6;
  padding: 0.7em;
  width: 100%;
  border-radius: 0px;
  border: 0.1rem solid #fa0636;
}

.form-control:valid {
  background-color: transparent;
}

input, textarea, form {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
}

::-webkit-resizer {
  color: #fa0636;
}

.btn {
  padding: 0.9em;
  margin-top: 0.5rem;
  width: 8%;
  font-weight: 700;
  font-size: 1rem;
  font-family: "Gopher", sans-serif;
  color: #fff6f6;
  border-radius: 0px;
  background-color: #fa0636;
}

.gotcha {
  opacity: 0;
  position: absolute;
}

input::placeholder {
  font-family: "Gopher", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #fa0636 !important;
}

input[type=text], textarea[type=text] {
  font-size: 1.5rem;
  font-family: "Gopher", sans-serif;
  color: #fa0636 !important;
  padding-left: 1rem;
}

#my-form-status {
  display: none;
}

.err {
  display: none;
  font-weight: 400;
}

.success {
  text-align: center;
  display: none;
  width: 50%;
}

.success-p {
  font-size: 1em;
}

/* Main */
main {
  padding-top: 8%;
}

.intro {
  color: #fa0636;
  line-height: 1.2;
  font-family: "Gopher", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3.5em;
}

abbr:hover {
  cursor: url(../img/help.png), url(../img/help.cur), help;
}

/* Footer */
.contrast-img {
  width: 60%;
  background-color: transparent;
  border-radius: 0px;
  -moz-outline-radius: 0px;
  padding: 0;
  margin: 0;
}

.contrastbox {
  margin-top: 8%;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  -moz-outline-radius: 0px;
}

a:hover {
  color: #fa0636;
}

#contrast-img {
  border: #fff6f6;
  background-color: #fff6f6;
  -ms-transform: rotate(0deg);
  /* IE 9 */
  -webkit-transform: rotate(0deg);
  /* Chrome, Safari, Opera */
  transform: rotate(0deg);
}

.rotated {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}

.contrast-img:hover {
  filter: grayscale(100%) contrast(2000%);
}

/*# sourceMappingURL=main.css.map */
