/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */


/* Color Variables */
$cherry: #fa0636;
$blush: #fff6f6;
$black: grayscale(100%) contrast(2000%);

/* Dimension Variables */
$full: 100%;

/* Font Variables */
$gopher: 'Gopher', sans-serif;
$regular: 400;
$bold: 700;
$thin: 100;

/* Template */
$standard-border: 0.08em solid $cherry;

/* Black Overlay */
$b-border: 0.08em solid $black;
$b-text: $black;
$b-bg: $black;

html {
  color: $cherry;
  font-size: 1em;
  line-height: 1.4;
  height: $full;
  padding: 2%;
}

/* ****************  CURSOR STYLES  **************** */
#cursor {
  z-index: 100;
}

#cursor:before,
#cursor:after {
  display: block;
  content: "";
  border-radius: 20%;
  background-color: black;
  position: absolute;
  pointer-events: none;
  transition: all 400ms;
}
#cursor:before {
  width: 50px;
  height: 3px;
  transform: rotate(40deg);
  top: -19px;
  left: -25px;
}
#cursor:after {
  width: 3px;
  height: 50px;
  transform: rotate(50deg);
  top: -12px;
  left: -2px;
}
#cursor.right:before {
  transform: rotate(-40deg);
}
#cursor.right:after {
  transform: rotate(-50deg);
}
#cursor.in:before {
  transform: rotate(0);
  top: -3px;
  left: -25px;
}
#cursor.in:after {
  transform: rotate(0);
  top: -27px;
  left: -2px;
}
#cursor.exit:before {
  transform: rotate(44deg);
}
#cursor.exit:after {
  transform: rotate(44deg);
}


/* ****************  BODY  **************** */

body {
  background-color: $blush;
  height: $full;
  padding: 1em;
}


/* Focus styles */
[role=link]:focus, [rolebutton]:focus, [role=tab]:focus {
  outline: $standard-border;
}


/* Text Styles */
p {
  color: $cherry;
  font : {
    family: 'Gopher', sans-serif;
    weight: $regular;
    size: 1.5em;
  }
}


/* ****************  HEADER  **************** */

/* Top Nav (skip to main) */
#skip {
  a {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  a:focus {
    position:static;
    outline: none;
    width:auto;
    height:auto;
    color: $cherry;
    font : {
      family: $gopher;
      weight: bold;
      size: 1.5em;
    }
    padding: 0.4em;
  }
}


/* ****************  NAV  **************** */

.nav-link {
  background-color: transparent;
  color: $cherry;
  text-align: center;
  font : {
    family: $gopher;
    size: 1.5em;
  }
  padding: 0.7em;
}

.nav-link:focus {
  outline: none;
  font-weight: bolder;
}

.nav-link:hover, .contactbtn:hover, .btn:hover, .logo:hover, .form-input:hover, label:hover, form:hover {
  cursor: none;
}

.contactbtn {
  border: transparent;
  margin-left: 0.3em;
}

.funbtn:hover {
  filter: none;
}

/* ****************  CONTACT FORM  **************** */

.sidepanel {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left:-10px;
  background-color: $blush;
  border-right: $standard-border;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* Position and style the close button (top right corner) */

.close-button {
  $size: 50px;
  height: $size;
  width: $size;
  position: relative;
  box-sizing: border-box;
  line-height: $size;
  display: inline-block;
  padding-top: 5%;

  &:before, &:after {
    $width: 50px;
    $height: 2px;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    display: block;
    height: $height;
    width: $width;
    background-color: $cherry;
    transition: all 0.25s ease-out;
  }

  &:after {
    transform: rotate(-135deg);
  }

  &:hover {
    &:before, &:after {
      transform: rotate(0deg);
    }
  }
}


.close-button {
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 3em;
  margin-left: 6em;
  text-decoration: none;
  color: $cherry;
  cursor: none;
  outline: none;
}

form {

  // <label> -
   label {
    color: $cherry;
    width: $full;
    font: {
      family: $gopher;
      weight: $regular;
      size: 1.7rem;
    }
  }

  // <input> -
  .form-input {
    background-color: transparent;
    padding: 1em;
    min-height: 2em;
    width: $full;
    border-radius: 0px;
    border: $standard-border;
  }

  input[type="text"],
  input[type="email"], textarea[type="text"] {
    background-color: transparent !important;
    font: {
      size: 1.5rem !important;
      family: $gopher !important;
    }
    color: $cherry !important;
    padding: {
      left: 1.7rem;
    }
    // When input is...
    //   1. NOT empty
    //   2. NOT in focus
    //   3. NOT valid
    &:invalid:not(:focus):not(:placeholder-shown) {
      // Show a light reminder
      background-color: transparent !important;
      color: $cherry !important;
    }
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill
  {
    &, &:hover, &:focus, &:active {
      border: $standard-border;
      -webkit-text-fill-color: $cherry;
      -webkit-box-shadow: 0 0 0px 1000px $blush inset !important;
    }
  }

  input:focus, textarea:focus {
    border: 0.17em solid $cherry !important;
    outline-style: none !important;
    box-shadow: none !important;
  }

  textarea::-webkit-scrollbar {
    width: 0em;
  }

  textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }

  .btn:focus {
    outline-style: none !important;
    box-shadow: none !important;
    border: $standard-border !important;
    background-color: $blush;
    color: $cherry;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  input::placeholder {
    font: {
      family: $gopher;
      weight: $regular;
      size: 2rem;
    }
    color: $cherry !important;
    background-color: transparent !important;
  }

  ::-webkit-resizer {
    color: $cherry;
  }
  // end of </input>

  // <span class="err">
   .err {
     padding: 10px 30px 20px 0;
     color: $cherry;
     max-height: 0;
     transition: 0.28s;
     display: none;
     font : {
       weight: $regular;
       style: italic;
       size: 1.2em;
     }
  }

  .err-p {
    visibility: hidden;
  }

  // <button class="btn">
   .btn {
     padding: 0.5em 0.9em;
     display: block;
     margin : {
      top: 0.5rem;
     }
     width: 100%;
     font : {
      weight: $regular;
      size: 2rem;
      family: $gopher;
     }
     color: $blush;
     border-radius: 0px;
     background-color: $cherry;
  }

  // <input class="gotcha">
   .gotcha {
    opacity: 0;
    position: absolute;
  }

  // <p class="success-p">
  .success-p {
    font-size: 1.5em;
    color: $cherry;
    display: none;
  }
}

input, textarea, form {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: $full;
}

/* ****************  MAIN  **************** */
.intro {
  color: $cherry;
  padding : {
    top: 5%;
    left: 10%;
  }
  line-height: 1.2;
  font : {
    family: $gopher;
    weight: $regular;
    style: normal;
    size: 4.5em;
  }
}

.compliance {
  padding-left: 10%;
}

.comingsoon {
  padding : {
    top: 10%;
  }
  margin-left: 30%;
  width: 60%;
}

/* ****************  FOOTER  **************** */
#contrast-img {
  width:100%;
  background-color: transparent;
  border-radius: 0px;
  -moz-outline-radius: 0px;
  right: 1em;
  outline: none;
}

.contrastbox {
  padding : {
    top:40%;
    left: 8%;
  }
  outline: none;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  -moz-outline-radius: 0px;
}

a:hover {
  color: $cherry;
}

.doTheWave, .dothewave_blk-on-blsh, .dothewave_blsh-on-blk, .contrast-blush, .contrast-black, .contrast-img {
  width: 100%;
  outline: none;
}


/* *********************** For Phones *********************** */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }
  #cursor{
    display: none;
  }
  .nav-link {
    font-size: 1em;
  }
  .logo {
    width: 70%;
    margin-left: 25%;
    padding-top: 20%;
  }
  .close-button {
    padding-top: 10%;
  }

  form {

    // <label> -
    label {
      font: {
        size: 1.2rem;
      }
    }

    // <input> -
    .form-input {
      padding: 1em;
      min-height: 2em;
    }

    input[type="text"],
    input[type="email"], textarea[type="text"] {
      font: {
        size: 1.2rem !important;
      }
      padding: {
        left: 1rem;
      }
    }

    // <button class="btn">
    .btn {
      padding: 0.5em 0.9em;
      margin : {
        top: 0.5rem;
      }
      width: 100%;
      font : {
        size: 1.5rem;
      }
    }

    // <p class="success-p">
    .success-p {
      font-size: 1.5em;
    }
  }

  .formbox {
    margin : {
      left: 4%;
      right: 4%;
    }
    padding : {
      left: 10%;
      right: 10%;
      top: 30%;
    }
  }

  .intro {
    color: $cherry;
    padding : {
      top: 20%;
      left: 0%;
    }
    margin-left: -5%;
    line-height: 1.2;
    font : {
      family: $gopher;
      weight: $regular;
      style: normal;
      size: 2em;
    }
  }
  .compliance {
    margin-left: -15%;
    font-size: 1em;
  }

  .doTheWave, .dothewave_blk-on-blsh, .dothewave_blsh-on-blk, .contrast-blush, .contrast-black, .contrast-img {
    width: 40%;
    margin-top: -10%;
    margin-left: 60%;
  }
}

/* ********************* For Tablets *********************** */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
  #cursor{
    display: none;
  }
  .nav-link {
    font-size: 2em;
  }
  .logo {
    width: 100%;
    margin-left: 25%;
    padding-top: 20%;
  }
  .close-button {
    padding-top: 10%;
  }

  form {

    // <label> -
    label {
      font: {
        size: 1.2rem;
      }
    }

    // <input> -
    .form-input {
      padding: 1em;
      min-height: 2em;
    }

    input[type="text"],
    input[type="email"], textarea[type="text"] {
      font: {
        size: 1.2rem !important;
      }
      padding: {
        left: 1rem;
      }
    }

    // <button class="btn">
    .btn {
      padding: 0.5em 0.9em;
      margin : {
        top: 0.5rem;
      }
      width: 100%;
      font : {
        size: 1.5rem;
      }
    }

    // <p class="success-p">
    .success-p {
      font-size: 1.5em;
    }
  }

  .formbox {
    margin : {
      left: 4%;
      right: 4%;
    }
    padding : {
      left: 10%;
      right: 10%;
      top: 30%;
    }
  }

  .intro {
    padding : {
      top: 20%;
      left: 0%;
    }
    margin-left: -5%;
    line-height: 1.2;
    font : {
      size: 4em;
    }
  }
  .compliance {
    margin-left: -15%;
    font-size: 1em;
  }

  .doTheWave, .dothewave_blk-on-blsh, .dothewave_blsh-on-blk, .contrast-blush, .contrast-black, .contrast-img {
    width: 40%;
    margin-top: -10%;
    margin-left: 60%;
  }
}
}