/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */
/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
/* Color Variables */
/* Dimension Variables */
/* Font Variables */
@font-face {
  font-family: "Gopher Display";
  src: url("/fonts/gopherdisplayregular-webfont.eot");
  src: url("/fonts/gopherdisplayregular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/gopherdisplayregular-webfont.woff2") format("woff2"), url("/fonts/gopherdisplayregular-webfont.woff") format("woff"), url("/fonts/gopherdisplayregular-webfont.ttf") format("truetype"), url("/fonts/gopherdisplayregular-webfont.svg#gopher_displayregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Template */
/* Black Overlay */
html {
  color: #fa0636;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  padding: 2%;
}

/* ****************  CURSOR STYLES  **************** */
#cursor {
  z-index: 100;
}

#cursor:before,
#cursor:after {
  display: block;
  content: "";
  border-radius: 20%;
  background-color: black;
  position: absolute;
  pointer-events: none;
  transition: all 400ms;
}

#cursor:before {
  width: 50px;
  height: 3px;
  transform: rotate(40deg);
  top: -19px;
  left: -25px;
}

#cursor:after {
  width: 3px;
  height: 50px;
  transform: rotate(50deg);
  top: -12px;
  left: -2px;
}

#cursor.right:before {
  transform: rotate(-40deg);
}

#cursor.right:after {
  transform: rotate(-50deg);
}

#cursor.in:before {
  transform: rotate(0);
  top: -3px;
  left: -25px;
}

#cursor.in:after {
  transform: rotate(0);
  top: -27px;
  left: -2px;
}

#cursor.exit:before {
  transform: rotate(44deg);
}

#cursor.exit:after {
  transform: rotate(44deg);
}

/* ****************  BODY  **************** */
body {
  background-color: #f7dfe8;
  height: 100%;
  padding: 1em;
}

/* Focus styles */
.focused {
  outline: none;
  border-bottom: 2em solid #fa0636;
  padding: 0.2em;
}

/* ****************  HEADER  **************** */
/* Top Nav (skip to main) */
#skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background-color: transparent;
  cursor: none;
}

#skip:focus {
  position: static;
  background-color: transparent;
  outline: none;
  width: auto;
  height: auto;
  color: #fa0636;
  font-family: "Gopher Display", sans-serif;
  font-size: 1.7em;
  text-decoration: underline;
}

/* ****************  NAV  **************** */
.nav-link {
  background-color: transparent;
  color: #fa0636;
  text-align: center;
  font-family: "Gopher Display", sans-serif;
  font-size: 1.8em;
}

.nav-link:focus {
  outline: none;
  text-decoration: underline;
}

.nav-link:hover, .contactbtn:hover, .btn:hover, .logo:hover, .form-input:hover, label:hover, form:hover {
  cursor: none;
}

.contactbtn {
  border: transparent;
  margin-left: 0.3em;
}

/* ****************  CONTACT FORM  **************** */
.sidepanel {
  height: 100%;
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: -10px;
  visibility: hidden;
  background-color: #faecae;
  border-right: 0.08em solid #fa0636;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidepanel */
}

/* Position and style the close button (top right corner) */
.close-button {
  height: 50px;
  width: 50px;
  position: relative;
  box-sizing: border-box;
  line-height: 50px;
  display: inline-block;
  margin-top: 5%;
  background-color: transparent;
}
.close-button:before, .close-button:after {
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  display: block;
  height: 2px;
  width: 50px;
  background-color: #fa0636;
  transition: all 0.25s ease-out;
}
.close-button:after {
  transform: rotate(-135deg);
}
.close-button:hover:before, .close-button:hover:after {
  transform: rotate(0deg);
}

.close-button {
  position: absolute;
  top: 0.5em;
  right: 1em;
  font-size: 3em;
  margin-left: 6em;
  text-decoration: none;
  color: #fa0636;
  cursor: none;
}

form {
  padding-top: 10%;
}
form label {
  color: #fa0636;
  width: 100%;
  padding-top: 2%;
  letter-spacing: 0.1em;
  font-family: "Gopher Display", sans-serif;
  font-size: 1.1rem;
  font-weight: bolder;
}
form .form-input {
  background-color: transparent;
  padding: 1em;
  min-height: 2em;
  width: 100%;
  border-radius: 0px;
  border: 0.08em solid #fa0636;
}
form input[type=text],
form input[type=email], form textarea[type=text] {
  background-color: transparent !important;
  font-size: 1.5rem !important;
  font-family: "Gopher Display", sans-serif !important;
  color: #fa0636 !important;
  padding-left: 1.7rem;
}
form input[type=text]:invalid:not(:focus):not(:placeholder-shown),
form input[type=email]:invalid:not(:focus):not(:placeholder-shown), form textarea[type=text]:invalid:not(:focus):not(:placeholder-shown) {
  background-color: transparent !important;
  color: #fa0636 !important;
}
form input:-webkit-autofill, form input:-webkit-autofill:hover, form input:-webkit-autofill:active,
form textarea:-webkit-autofill,
form textarea:-webkit-autofill:hover,
form textarea:-webkit-autofill:active,
form select:-webkit-autofill,
form select:-webkit-autofill:hover,
form select:-webkit-autofill:active {
  border: 0.08em solid #fa0636;
  -webkit-text-fill-color: #fa0636;
  transition: background-color 5000s;
  outline: none;
}
form input, form textarea {
  outline: none;
  box-shadow: none !important;
}
form input:focus, form textarea:focus {
  border: 0.17em solid #fa0636 !important;
  transition: background-color 5000s;
  outline-style: none !important;
}
form textarea::-webkit-scrollbar {
  width: 0em;
}
form textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
form input::placeholder {
  font-family: "Gopher Display", sans-serif;
  font-size: 2rem;
  color: #fa0636 !important;
  background-color: transparent !important;
}
form ::-webkit-resizer {
  color: #fa0636;
}
form .err {
  padding: 10px 30px 20px 0;
  color: #fa0636;
  max-height: 0;
  transition: 0.28s;
  display: none;
  font-style: italic;
  font-size: 1.2em;
}
form .err-p {
  visibility: hidden;
}
form .btn {
  padding: 1em 0.9em;
  display: block;
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1.3rem;
  font-family: "Gopher Display", sans-serif;
  letter-spacing: 0.1em;
  color: #faecae;
  border-radius: 0px;
  border-color: black;
  background-color: #fa0636;
}
form .btn:focus, form .btn:hover {
  outline-style: none !important;
  box-shadow: none !important;
  border: 0.08em solid #fa0636 !important;
  background-color: #f7dfe8;
  color: #fa0636;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
form .gotcha {
  opacity: 0;
  position: absolute;
}
form .success-p {
  font-size: 1.5em;
  color: #fa0636;
  visibility: hidden;
}

input, textarea, form {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 100%;
}

.logo, .logo:focus, .logo-link {
  outline: none !important;
}

/* ****************  MAIN  **************** */
.intro {
  color: #fa0636;
  padding-top: 8%;
  line-height: 1.5;
  font-family: "Gopher Display", sans-serif;
  font-style: normal;
  font-size: 4.5em;
}

.magicwand {
  width: 8%;
  margin-top: -12%;
}

.lightning {
  width: 6%;
}

.flower {
  width: 7%;
  margin-top: -1%;
}

.hands {
  width: 10%;
}

/* ****************  FOOTER  **************** */
#contrast-img {
  width: 7%;
  background-color: transparent;
  position: fixed;
  border-radius: 0px;
  outline: black;
  -moz-outline-radius: 0px;
  right: 1em;
  cursor: none;
  margin-top: 40%;
  margin-right: 2%;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  -moz-outline-radius: 0px;
}

a:hover {
  color: #fa0636;
}

.doTheWave, .dothewave_blk-on-blsh, .dothewave_blsh-on-blk, .contrast-blush, .contrast-black, .contrast-img {
  width: 100%;
  outline: none !important;
}

/* *********************** For Phones *********************** */
@media only screen and (max-width: 768px) {
  [class*=col-] {
    width: 100%;
  }

  #cursor {
    display: none;
  }

  .nav-link {
    font-size: 1.1em;
    padding-top: 1.6em;
  }

  .logo {
    width: 90%;
    position: fixed;
    padding-top: 30em;
    padding-left: 7em;
    margin-left: 28em;
    transform: rotate(90deg);
  }

  .close-button {
    padding-top: 10%;
  }

  form {
    padding-right: 4%;
  }
  form label {
    font-size: 1.2rem;
  }
  form .form-input {
    padding: 1em;
    min-height: 2em;
  }
  form input[type=text],
form input[type=email], form textarea[type=text] {
    font-size: 1.2rem !important;
    padding-left: 1rem;
  }
  form .btn {
    padding: 0.5em 0.9em;
    margin-top: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
  }
  form .success-p {
    font-size: 1.5em;
  }

  .formbox {
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30%;
  }

  .left {
    width: 85%;
  }

  .intro {
    color: #fa0636;
    padding-top: 0.5em;
    line-height: 1.5;
    font-family: "Gopher Display", sans-serif;
    font-size: 1em;
    text-align: center;
  }

  .magicwand {
    width: 5%;
  }

  .lightning {
    width: 6%;
  }

  .flower {
    width: 7%;
    margin-top: -1%;
  }

  .hands {
    width: 9%;
  }

  .doTheWave, .dothewave_blk-on-blsh, .dothewave_blsh-on-blk, .contrast-blush, .contrast-black, .contrast-img {
    width: 15%;
    position: fixed;
    margin-top: -20%;
    margin-left: 10%;
  }

  #contrast-img {
    width: 70%;
    padding-bottom: 2em;
    margin-right: 20%;
  }
}
/* ********************* For Tablets *********************** */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  #cursor {
    display: none;
  }

  .nav-link {
    font-size: 2em;
    padding-top: 1em;
  }

  .logo {
    width: 100%;
    position: relative;
    padding-top: 2em;
    padding-left: 0em;
    margin-left: 0em;
    transform: rotate(0deg);
  }

  .close-button {
    padding-top: 10%;
  }

  form {
    padding-right: 9%;
  }
  form label {
    font-size: 1.2rem;
  }
  form .form-input {
    padding: 1em;
    min-height: 2em;
  }
  form input[type=text],
form input[type=email], form textarea[type=text] {
    font-size: 1.2rem !important;
    padding-left: 1rem;
  }
  form .close-button {
    padding-right: 15%;
    margin-top: -3%;
  }
  form .btn {
    padding: 0.5em 0.9em;
    margin-top: 0.5rem;
    width: 100%;
    font-size: 1.5rem;
  }
  form .success-p {
    font-size: 1.5em;
  }

  .formbox {
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30%;
  }

  .intro {
    color: #fa0636;
    padding-top: 1em;
    padding-left: 1%;
    line-height: 1.5;
    font-family: "Gopher Display", sans-serif;
    font-size: 4em;
  }

  .magicwand {
    width: 9%;
  }

  .lightning {
    width: 8%;
  }

  .flower {
    width: 10%;
    margin-top: -1%;
  }

  .hands {
    width: 15%;
  }

  .doTheWave, .dothewave_blk-on-blsh, .dothewave_blsh-on-blk, .contrast-blush, .contrast-black, .contrast-img {
    width: 100%;
    margin: 0;
    padding-top: 50em;
    position: relative;
  }

  .contrastbox {
    margin-left: 0;
    padding: 0;
    width: 0;
  }
}

/*# sourceMappingURL=main.css.map */
