/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */


/* Color Variables */
$cherry: #fa0636;
$blush: #fff6f6;
$black: grayscale(100%) contrast(2000%);

/* Dimension Variables */
$full: 100%;

/* Font Variables */
$gopher: 'Gopher', sans-serif;
$regular: 400;
$bold: 700;
$thin: 100;

/* Template */
$standard-border: 0.1em solid $cherry;

/* Black Overlay */
$b-border: 0.1em solid $black;
$b-text: $black;
$b-bg: $black;

html {
  color: $cherry;
  font-size: 1em;
  line-height: 1.4;
  height: $full;
  padding: 2%;
}

/* Body */

body {
  background-color: $blush;
  height: $full;
}

/* ****************  MAIN  **************** */


/* Focus styles */
a:focus, li:focus, button:focus, input:focus,
select:focus, textarea:focus, [role=link]:focus,
[rolebutton]:focus, [role=tab]:focus {
  outline: 0.2em dotted rebeccapurple;
}

/* Grid */
.right {
  margin-top: 25%;
}

.nopadding {
  padding: 0;
  margin: 0;
}


/* Text Styles */
p {
  color: $cherry;
  font : {
    family: 'Gopher', sans-serif;
    weight: $regular;
    size: 1.3rem;
  }
}

/* Cursor */
.cursor {
  position: relative;
  i {
    position: absolute;
    width: 1px;
    height: 80%;
    background-color: gray;
    left: 5px;
    top: 10%;
    opacity: 1;
    animation : {
      name: blink;
      duration: 800ms;
      iteration-count: infinite;
    }
  }
  input:focus + i {
    display: none;
  }
}


/* Header */

/* Top Nav (skip to main) */
#skip {
  a {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
  }
  a:focus {
    position:static;
    width:auto;
    height:auto;
    padding: 0.4em;
    color: $blush;
    background-color: $cherry;
    font : {
      family: 'Manjari', sans-serif;
      weight: $bold;
      size: 1em;
    }
  }
}


/* Nav */
nav {
  margin : {
    top: 7%;
  }
}

.nav-link {
  background-color: transparent;
  color: $cherry;
  text-align: center;
  font : {
    family: $gopher;
    size: 1.3rem;
  }
}

.contactbtn {
  transition: 8s transform ease-in-out;
  margin-top: 5%;
  padding: 0;
  border: transparent;
}

.aboutbtn {
  margin: 0;
  padding: 0;
  border: transparent;
}

.contrast-img {
  padding : {
    right: 40%;
  }
  width: 100%;
  background-color: transparent;
}

#contrast-img button {
  border: $blush;
  background-color: $blush;
}

.contrast-img:hover {
  filter: $black;
}

/* Contact Form */
label {
  color: $cherry;
  width: $full;
    font : {
      family: $gopher;
      weight: $bold;
      size: 1rem;
    }
}

.form-input {
  background: $blush;
  padding: 0.3em;
  width: $full;
  border-radius: 0px;
  border: $standard-border;
}

.form-control:valid {
  background-color: transparent;
}

input, textarea, form {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: $full;
}

.md-form {
  margin: 0;
}

::-webkit-resizer {
  color: $cherry;
}

.btn {
  padding: 0.9em;
  margin : {
    left: 1rem;
    top: 0.5rem;
  }
  width: 8%;
    font : {
      weight: $bold;
      size: 1rem;
      family: $gopher;
    }
  color: $blush;
  border-radius: 0px;
  background-color: $cherry;
}

.gotcha {
  opacity: 0;
  position: absolute;
}

input::placeholder {
  font : {
    family: $gopher;
    weight: $regular;
    size: 1rem;
  }
  color: $cherry !important;
}

input[type="text"], textarea[type="text"]
{
  font : {
    size: 1rem;
    family: $gopher;
  }
  color: $cherry !important;
  padding : {
    left: 0.3rem;
  }
}

#my-form-status {
  display: none;
}

.success {
  text-align: center;
  display: none;
  border-top: $standard-border;
}

.success-p {
  font-size: 3em;
}

/* Main */
.intro {
  color: $cherry;
  line-height: 1.2;
  font : {
    family: $gopher;
    weight: $regular;
    style: normal;
    size: 4rem;
  }
}

.compliance {
  margin-top: 10%;
}

/*
main {
  border : {
    left: $standard-border;
    right: $standard-border;
    bottom: $standard-border;
  }
}
 */

/* Footer */
.logo {
  margin : {
    top: 20%;
    bottom: 10%;
  }
}