@font-face {
    font-family: 'Gopher Display Regular';
    src: url('gopherdisplayregular-webfont.eot');
    src: url('gopherdisplayregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('gopherdisplayregular-webfont.woff2') format('woff2'),
         url('gopherdisplayregular-webfont.woff') format('woff'),
         url('gopherdisplayregular-webfont.ttf') format('truetype'),
         url('gopherdisplayregular-webfont.svg#gopher_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Changa Extra Light';
    src: url('changa-variablefont_wght-webfont.eot');
    src: url('changa-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('changa-variablefont_wght-webfont.woff2') format('woff2'),
         url('changa-variablefont_wght-webfont.woff') format('woff'),
         url('changa-variablefont_wght-webfont.ttf') format('truetype'),
         url('changa-variablefont_wght-webfont.svg#changaextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}